fastapi
uvicorn[standard]
gunicorn
motor
bcrypt
python-dotenv
pillow
numpy
torch
torchvision
python-jose
email-validator
python-multipart
python-dotenv
itsdangerous
passlib[bcrypt]
aiosmtplib
pydantic
