fastapi
uvicorn[standard]
gunicorn
motor>=2.5.1
pymongo[srv]==4.7.0
dnspython==2.4.2
certifi>=2024.0.0
bcrypt
python-dotenv
pillow
numpy
torch
torchvision
python-jose
email-validator
python-multipart
itsdangerous
passlib[bcrypt]
aiosmtplib
pydantic
